$rosapastel: rgb(233, 175, 245);

$bodycolor: rgb(245, 209, 236);

$fuenteletra: "Assistant", cursive;

$redess:(
    facebook : blue,
    instagram : rgb(196, 14, 251),
    youtube : red,
);
$bgRosa: rgb(180, 1, 180);

$borroso: blur(5px);


